<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Notes app</h1>
          <button onclick="location.href='http://localhost:3000/new-note'"' type="button">
            <span class="button_top"> Add new note
            </span>
          </button>
          <button onclick="location.href='http://localhost:3000/read-notes'"' type="button">
            <span class="button_top"> All notes
            </span>
          </button>
    </div>
</body>
</html>