<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />

    <title>Add new</title>
</head>
<body>
    <div class="container">
        <h1>add new member</h1>
        <a href="/api/members" class="link">back to members</a>
        <form action="/api/members/add-new-member" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="email" placeholder="address">
            <button type="submit" class="btn">add Member</button>
        </form>
    </div>
</body>
</html>